button {
  background-color:blue;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
font-weight: bold;
font-size: 50px;
letter-spacing: 1px;
margin-bottom: 4px;
}

.InputSection {
margin: 50px 0px 80px 0px;
width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px
}

.AdMore {
  margin-top: 10px
}
